{% extends "main1/home.html" %}

{% block title %}Create an Account{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div id="register-div">
    <form method="POST" class="form-group">
	{% csrf_token %}
	{{ form|crispy }}
	<button type="submit" class="btn btn-success">Register</button>
    </form>
</div>


<style>


    #register-div {
        display: flex;
        justify-content: center; /* Horizontally center */
        align-items: center;
        text-align: center;  

        border: 2px solid rgb(218, 218, 218);
        border-radius: 15px;
        padding: 35px;
        background-color: aliceblue;
}

</style>


{% endblock %}