{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BetStream</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main1/css/home.css' %}">

</head>
<body>
  
    <div class="topbar">
        <nav class="navbar">
            <div class="middle-links">
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}">Portfolio</a></li>
                        <li><a href="{% url 'trade' %}">Trade</a></li>
                    {% else %}
                    {% endif %}
                </ul>
            </div>
            <div class="right-links">
                <ul>
                    {% if user.is_authenticated %}
                        <li id='sign-box'><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li id='sign-box'><a href="{% url 'login' %}">Login</a></li>
                        <li id='sign-box'><a href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>



        {% block content %}



        {% endblock %}

</body>

<style>




</style>
</html>
